---
---

@import "{{ site.theme }}";

body {
  font: 16px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background: #5db8d4;
}

footer {
  display: none;
}

ul, li, p {
  margin: 0.5rem 0;
}

ul {
  list-style: outside;
}

h2 {
  margin: 0 0 2rem;
}

.button.fork {
  display: none!important;
}

.wrapper {
  h1, .tag-h1 {
    display: none;
  }
}
